In [1]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
.master('local[4]') \
.appName('Bolum15Odev') \
.config('spark.executor.memory', '4g') \
.config('spark.driver.memory', '4g') \
.getOrCreate()

# Veri Okuma

In [5]:
df = spark.read \
.option('header', 'True') \
.option('inferSchema', 'True') \
.option('sep', ',') \
.csv('Life Expectancy Data.csv')

In [7]:
df.count()

2938

In [6]:
df.toPandas().head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [13]:
df.toPandas().tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [12]:
df.printSchema()

root
 |-- Country: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Life expectancy : double (nullable = true)
 |-- Adult Mortality: integer (nullable = true)
 |-- infant deaths: integer (nullable = true)
 |-- Alcohol: double (nullable = true)
 |-- percentage expenditure: double (nullable = true)
 |-- Hepatitis B: integer (nullable = true)
 |-- Measles : integer (nullable = true)
 |--  BMI : double (nullable = true)
 |-- under-five deaths : integer (nullable = true)
 |-- Polio: integer (nullable = true)
 |-- Total expenditure: double (nullable = true)
 |-- Diphtheria : integer (nullable = true)
 |--  HIV/AIDS: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- Population: double (nullable = true)
 |--  thinness  1-19 years: double (nullable = true)
 |--  thinness 5-9 years: double (nullable = true)
 |-- Income composition of resources: double (nullable = true)
 |-- Schooling: double (nullable = true)

## Nümerik Değişkenlerin İncelenmesi

In [38]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [39]:
numerik_degiskenler = ['Year', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 
                     'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 
                     'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [40]:
df.describe(numerik_degiskenler) \
.toPandas().head()

,summary,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,count,2938,2928,2928,2938,2744,2938,2385,2938,2904,2938,2919,2712,2919,2938,2490,2286,2904,2904,2771,2775
1,mean,2007.5187202178352,69.22493169398912,164.79644808743168,30.303948264125257,4.6028607871720375,738.2512954533823,80.94046121593291,2419.5922396187884,38.32124655647373,42.0357385976855,82.55018842069202,5.9381895280235915,82.32408359027065,1.7421034717494939,7483.158469138481,1.2753375120052498E7,4.8397038567493205,4.870316804407711,0.6275510645976166,11.992792792792786
2,stddev,4.613840940258099,9.523867487824305,124.2920790034219,117.92650131339906,4.052412658755658,1987.914858016194,25.070015593018063,11467.27248923461,20.044033502562083,160.4455484057337,23.428045949468476,2.498319672155633,23.7169120685726,5.077784531086547,14270.169341515959,6.101209650842794E7,4.420194947144322,4.508882086983007,0.2109035551515931,3.3589197211023554
3,min,2000,36.3,1,0,0.01,0.0,1,0,1.0,0,3,0.37,2,0.1,1.68135,34.0,0.1,0.1,0.0,0.0
4,max,2015,89.0,723,1800,17.87,19479.91161,99,212183,87.3,2500,99,17.6,99,50.6,119172.7418,1.293859294E9,27.7,28.6,0.948,20.7

## Kategorik Değişkenlerin İncelenmesi

In [25]:
from pyspark.sql import functions as F

In [30]:
df.groupBy(F.col('Country')) \
.agg({'*': 'count'}) \
.toPandas().head(1000)

                                               Country  count(1)
0                                        Côte d'Ivoire        16
1                                                 Chad        16
2                     Micronesia (Federated States of)        16
3                                             Paraguay        16
4                                                Yemen        16
5                                              Senegal        16
6                                           Cabo Verde        16
7                                               Sweden        16
8                                             Kiribati        16
9                                    Republic of Korea        16
10                                              Guyana        16
11                                             Eritrea        16
12                                         Philippines        16
13                                            Djibouti        16
14                                               Tonga        16
15                                            Malaysia        16
16                                           Singapore        16
17                                                Fiji        16
18                                              Turkey        16
19                                              Malawi        16
20                                                Iraq        16
21                                             Germany        16
22                                             Comoros        16
23                                         Afghanistan        16
24                                            Cambodia        16
25                                              Jordan        16
26                                            Maldives        16
27                                              Rwanda        16
28                                               Sudan        16
29                                               Palau         1
30                                              France        16
31                                              Greece        16
32                                           Sri Lanka        16
33                                            Dominica         1
34                                             Algeria        16
35                                   Equatorial Guinea        16
36                                                Togo        16
37                                            Slovakia        16
38                                           Argentina        16
39                                              Angola        16
40                                             Belgium        16
41                                          San Marino         1
42                                             Ecuador        16
43                                               Qatar        16
44                                             Lesotho        16
45                                             Albania        16
46                                          Madagascar        16
47                                             Finland        16
48           The former Yugoslav republic of Macedonia        16
49                                               Ghana        16
50                                             Myanmar        16
51                                           Nicaragua        16
52                                   Brunei Darussalam        16
53                                               Benin        16
54                                                Peru        16
55                                        Sierra Leone        16
56                                             Bahamas        16
57                                               China        16
58                                               India        16
59                                             Belarus        16
60                                              Kuwait        16
61                                               Malta        16
62                                         Timor-Leste        16
63                               Sao Tome and Principe        16
64                                    Marshall Islands         1
65                                             Somalia        16
66                                              Tuvalu         1
67                                               Chile        16
68                                          Tajikistan        16
69                         United Republic of Tanzania        16
70                    Bolivia (Plurinational State of)        16
71                                             Croatia        16
72                                             Burundi        16
73                                             Nigeria        16
74                                               Gabon        16
75                                               Italy        16
76                                            Suriname        16
77                                           Lithuania        16
78                                              Norway        16
79                                        Turkmenistan        16
80                                               Spain        16
81                                                Cuba        16
82                                          Mauritania        16
83                                             Czechia        16
84                            Central African Republic        16
85                                             Denmark        16
86                                               Niger        16
87                                          Bangladesh        16
88                                            Barbados        16
89                                  Russian Federation        16
90                  Venezuela (Bolivarian Republic of)        16
91                                             Ireland        16
92                                               Congo        16
93                                           Swaziland        16
94                                            Thailand        16
95                                              Bhutan        16
96                    Democratic Republic of the Congo        16
97                                              Monaco         1
98                                             Morocco        16
99                                              Panama        16
100                                              Nauru         1
101                                            Ukraine        16
102                                            Iceland        16
103                                             Israel        16
104                              Saint Kitts and Nevis         1
105                                               Oman        16
106                           United States of America        16
107                                             Cyprus        16
108                                            Uruguay        16
109                                             Mexico        16
110                                            Estonia        16
111                                            Georgia        16
112                                         Montenegro        16
113                                           Zimbabwe        16
114                                          Indonesia        16
115                   Saint Vincent and the Grenadines        16
116                                          Guatemala        16
117                                           Mongolia        16
118                                         Azerbaijan        16
119                                              Libya        16
120                                            Grenada        16
121                                            Armenia        16
122                                            Liberia        16
123                                            Tunisia        16
124                                           Honduras        16
125                                Trinidad and Tobago        16
126                                       Saudi Arabia        16
127                         Iran (Islamic Republic of)        16
128                                             Uganda        16
129                                            Namibia        16
130                                        Switzerland        16
131                                             Zambia        16
132                                           Ethiopia        16
133                                            Jamaica        16
134                                             Latvia        16
135                                        South Sudan        16
136                               United Arab Emirates        16
137  United Kingdom of Great Britain and Northern I...        16
138                                        Saint Lucia        16
139                                             Guinea        16
140                                             Canada        16
141                                         Seychelles        16
142                                         Kyrgyzstan        16
143                                              Samoa        16
144                                         Uzbekistan        16
145                                         Mozambique        16
146                                       Cook Islands         1
147                                             Belize        16
148                                             Brazil        16
149                                             Gambia        16
150                                              Kenya        16
151                                            Lebanon        16
152                   Lao People's Democratic Republic        16
153                                Antigua and Barbuda        16
154                                           Slovenia        16
155                                 Dominican Republic        16
156                                           Viet Nam        16
157                                           Botswana        16
158                                              Japan        16
159                                         Luxembourg        16
160                                        New Zealand        16
161                             Bosnia and Herzegovina        16
162                                              Haiti        16
163                                             Poland        16
164                                           Portugal        16
165                                Republic of Moldova        16
166                                          Australia        16
167                                           Cameroon        16
168                                   Papua New Guinea        16
169                                      Guinea-Bissau        16
170                                            Romania        16
171                                           Bulgaria        16
172                                    Solomon Islands        16
173                                            Austria        16
174                                              Nepal        16
175                                         Costa Rica        16
176                                              Egypt        16
177                                        El Salvador        16
178                                         Kazakhstan        16
179                                             Serbia        16
180                                       Burkina Faso        16
181                                       South Africa        16
182                                            Bahrain        16
183                                           Colombia        16
184                                            Hungary        16
185                                           Pakistan        16
186                                            Vanuatu        16
187                                               Niue         1
188                                          Mauritius        16
189                               Syrian Arab Republic        16
190                                               Mali        16
191                                        Netherlands        16
192              Democratic People's Republic of Korea        16

In [32]:
df.groupBy(F.col('Status')) \
.agg({'*': 'count'}) \
.toPandas().head()

       Status  count(1)
0   Developed       512
1  Developing      2426

## Veri Temizliği

### 1. Boşluk Kontrolü

In [70]:
from pyspark.sql.functions import *

In [46]:
df1 = df \
.withColumn('Year', trim(col('Year'))) \
.withColumn('Life expectancy ', trim(col('Life expectancy '))) \
.withColumn('Adult Mortality', trim(col('Adult Mortality'))) \
.withColumn('infant deaths', trim(col('infant deaths'))) \
.withColumn('Alcohol', trim(col('Alcohol'))) \
.withColumn('percentage expenditure', trim(col('percentage expenditure'))) \
.withColumn('Hepatitis B', trim(col('Hepatitis B'))) \
.withColumn('Measles ', trim(col('Measles '))) \
.withColumn(' BMI ', trim(col(' BMI '))) \
.withColumn('under-five deaths ', trim(col('under-five deaths '))) \
.withColumn('Polio', trim(col('Polio'))) \
.withColumn('Total expenditure', trim(col('Total expenditure'))) \
.withColumn('Diphtheria ', trim(col('Diphtheria '))) \
.withColumn(' HIV/AIDS', trim(col(' HIV/AIDS'))) \
.withColumn('GDP', trim(col('GDP'))) \
.withColumn('Population', trim(col('Population'))) \
.withColumn(' thinness  1-19 years', trim(col(' thinness  1-19 years'))) \
.withColumn(' thinness 5-9 years', trim(col(' thinness 5-9 years'))) \
.withColumn('Income composition of resources', trim(col('Income composition of resources'))) \
.withColumn('Schooling', trim(col('Schooling')))

In [47]:
df.count()

2938

In [48]:
df1.count()

2938

### 2. Null Kontrolü

In [49]:
df1.columns

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 ' BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [50]:
sayac_for_null = 1
for sutun in df1.columns:
    if(df1.filter(F.col(sutun).isNull()).count() > 0):
        print(sayac_for_null, '. ', sutun, 'içinde null var.')
    else:
        print(sayac_for_null, sutun)
    sayac_for_null += 1

1 Country
2 Year
3 Status
4 .  Life expectancy  içinde null var.
5 .  Adult Mortality içinde null var.
6 infant deaths
7 .  Alcohol içinde null var.
8 percentage expenditure
9 .  Hepatitis B içinde null var.
10 Measles
11 .   BMI  içinde null var.
12 under-five deaths
13 .  Polio içinde null var.
14 .  Total expenditure içinde null var.
15 .  Diphtheria  içinde null var.
16  HIV/AIDS
17 .  GDP içinde null var.
18 .  Population içinde null var.
19 .   thinness  1-19 years içinde null var.
20 .   thinness 5-9 years içinde null var.
21 .  Income composition of resources içinde null var.
22 .  Schooling içinde null var.

In [79]:
df1.select('Life expectancy ', 'Adult Mortality', 'Alcohol', 'Hepatitis B', ' BMI ', 'Polio', 'Total expenditure', 
                       'Diphtheria ', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 
                       'Schooling') \
.filter(col('Life expectancy ').isNull() | col('Adult Mortality').isNull() | col('Alcohol').isNull() | 
       col('Hepatitis B').isNull() | col(' BMI ').isNull() | col('Polio').isNull() | 
       col('Total expenditure').isNull() | col('Diphtheria ').isNull() | col('GDP').isNull() | 
       col('Population').isNull() | col(' thinness  1-19 years').isNull() | col(' thinness 5-9 years').isNull() |
       col('Income composition of resources').isNull() | col('Schooling').isNull()) \
.groupBy('Life expectancy ', 'Adult Mortality', 'Alcohol', 'Hepatitis B', ' BMI ', 'Polio', 'Total expenditure', 
        'Diphtheria ', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 
        'Schooling').count() \
.orderBy(col('count').desc()) \
.toPandas().head(50)

,Life expectancy,Adult Mortality,Alcohol,Hepatitis B,BMI,Polio,Total expenditure,Diphtheria,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,count
0,76.0,89,0.12,99,29.1,99,3.9,92,18555.56649,None,6.6,6.1,0.823,13.4,1
1,78.1,11,4.01,96,56.9,99,11.78,96,5484.7763,None,3.4,3.2,0.782,17.7,1
2,68.7,177,0.15,97,51.8,97,5.97,97,None,None,3.4,3.4,0.617,11.2,1
3,75.5,123,None,9,55.6,88,None,9,63.343259,3.1376671E7,1.1,1.1,0.737,13.4,1
4,41.0,519,4.21,None,17.5,38,11.83,38,227.779471,4739147.0,1.1,1.2,0.302,7.0,1
5,64.1,225,None,93,None,93,None,93,2513.884661,3864783.0,None,None,0.488,7.2,1
6,73.0,152,3.81,None,22.1,91,5.19,9,1268.884564,443716.0,9.4,9.3,0.562,11.0,1
7,69.8,149,3.61,96,31.3,99,None,96,None,None,5.1,5.1,None,None,1
8,78.7,12,9.89,None,57.6,96,8.21,98,37636.11173,5228172.0,0.9,0.8,0.869,18.3,1
9,63.4,249,None,89,22.0,83,None,89,1349.97144,4.7236259E7,7.8,7.6,0.55,11.1,1
10,83.4,49,None,None,57.4,97,None,97,8989.8424,8282396.0,0.4,0.3,0.938,16.0,1
11,76.1,147,None,95,64.5,95,None,95,None,None,2.5,2.5,0.79,12.6,1
12,68.5,165,3.28,96,28.2,98,None,89,None,None,5.6,5.6,None,None,1
13,53.0,38,2.16,None,19.0,65,5.62,6,36.5718585,132122.0,9.6,9.5,0.0,7.4,1
14,75.3,83,0.01,99,57.2,98,6.49,98,None,None,8.2,8.3,0.769,15.0,1
15,75.0,154,0.01,98,46.9,99,5.42,99,None,None,7.5,7.7,0.679,11.8,1
16,82.0,63,None,94,61.3,99,None,99,1199.8223,56964.0,1.0,0.9,0.896,13.9,1
17,48.6,438,5.72,None,13.7,76,4.38,77,21.569654,832946.0,7.4,7.5,0.332,7.1,1
18,74.8,141,9.73,99,45.9,99,7.85,99,None,None,4.3,4.3,0.734,13.1,1
19,74.1,138,10.03,99,52.6,99,7.21,99,None,None,1.4,1.5,0.776,13.8,1
20,53.6,377,None,None,None,None,None,None,1678.711862,9263136.0,None,None,0.0,0.0,1
21,84.0,74,10.85,None,51.8,95,1.61,93,41336.72192,7284753.0,0.6,0.5,0.89,15.2,1
22,49.2,457,3.89,None,16.0,64,2.64,79,None,None,8.3,8.3,None,None,1
23,73.8,137,2.03,None,1.0,92,4.7,75,None,None,15.6,16.3,0.584,10.7,1
24,48.0,473,3.12,63,2.9,68,4.65,61,None,None,7.5,7.5,None,None,1
25,75.9,114,13.19,99,61.3,96,6.93,97,None,None,2.1,2.1,None,None,1
26,59.8,258,None,81,21.6,78,None,81,None,None,9.5,9.3,None,None,1
27,76.9,12,11.69,None,52.2,97,8.7,97,3743.55917,5339616.0,1.3,1.0,0.86,16.5,1
28,57.7,323,0.95,None,28.6,49,5.37,53,781.2322196,732711.0,6.3,6.1,0.363,2.9,1
29,59.0,286,2.99,97,23.5,97,5.85,98,None,None,8.4,8.3,0.434,8.9,1
30,81.1,74,7.97,None,22.2,98,7.53,85,38532.488,126843.0,1.6,1.4,0.852,14.5,1
31,81.5,67,9.07,93,66.9,93,11.3,93,4453.24673,None,0.4,0.3,0.91,19.2,1
32,73.9,158,6.47,78,61.5,79,5.26,78,None,None,1.6,1.5,0.771,14.2,1
33,66.8,216,3.47,84,47.3,85,4.96,84,None,None,1.3,1.2,0.626,14.1,1
34,62.6,243,2.32,77,42.6,74,5.67,75,None,None,1.5,1.4,0.6,13.3,1
35,52.3,412,3.15,8,26.8,79,5.81,8,None,None,5.8,5.7,None,None,1
36,79.6,95,None,92,6.5,92,None,92,1146.36273,487852.0,1.7,1.7,0.775,14.2,1
37,58.0,325,1.02,None,29.4,68,6.22,68,819.974118,758615.0,6.1,5.9,0.378,3.5,1
38,64.4,28,0.01,79,19.4,78,2.12,79,None,None,9.1,9.2,0.554,10.2,1
39,71.8,178,12.03,None,37.3,99,6.1,99,None,None,4.5,4.5,0.684,12.6,1
40,75.8,118,10.12,99,57.2,99,8.15,99,None,None,1.2,1.3,0.835,15.0,1
41,52.2,335,0.01,None,21.5,41,None,42,None,None,7.1,6.9,None,None,1
42,75.5,79,2.1,98,56.8,98,3.8,98,1937.99549,None,6.1,5.9,0.81,14.2,1
43,74.1,115,8.39,84,47.7,85,5.27,84,15646.5591,None,4.0,3.9,0.766,14.8,1
44,46.3,56,1.54,None,18.6,47,3.99,51,347.673678,421758.0,9.6,9.6,0.323,6.0,1
45,51.2,391,0.88,None,12.3,55,4.36,3,123.876257,6.6537331E7,11.9,11.8,0.0,3.9,1
46,76.1,16,None,82,61.8,89,None,89,6461.192554,622159.0,1.8,1.8,0.804,15.1,1
47,67.5,19,None,96,3.9,96,None,96,1624.63963,195553.0,5.5,5.3,0.565,11.2,1
48,75.3,92,1.79,92,56.6,94,2.32,94,39439.8197,None,5.1,4.9,0.818,12.6,1
49,77.7,78,None,99,41.2,99,None,99,3967.8951,None,5.7,5.1,0.864,14.9,1

In [80]:
df2 = df1.filter(~(col('Life expectancy ').isNull() | col('Adult Mortality').isNull() | col('Alcohol').isNull() | 
       col('Hepatitis B').isNull() | col(' BMI ').isNull() | col('Polio').isNull() | 
       col('Total expenditure').isNull() | col('Diphtheria ').isNull() | col('GDP').isNull() | 
       col('Population').isNull() | col(' thinness  1-19 years').isNull() | col(' thinness 5-9 years').isNull() |
       col('Income composition of resources').isNull() | col('Schooling').isNull()))

In [81]:
df2.count()

1649

### 3. Zayıf Sınıfların Kaldırılması

In [55]:
df3 = df2.filter(~(col('Country').contains('Palau') | col('Country').contains('Dominica') | 
                    col('Country').contains('San Marino') | col('Country').contains('Marshall Islands') | 
                    col('Country').contains('Tuvalu') | col('Country').contains('Monaco') | 
                    col('Country').contains('Nauru') | col('Country').contains('Saint Kitts and Nevis') | 
                    col('Country').contains('Cook Islands') | col('Country').contains('Niue')))

In [56]:
df3.count()

1634

## Ön İşlemden Geçirilen Veriyi Yeni Dosyaya Yazmak

In [57]:
df3 \
.coalesce(1) \
.write \
.mode('overwrite') \
.option('sep', ',') \
.option('header', 'True') \
.csv('life_expectancy_data_preprocessed')

## Ön İşlemden Geçirilen Dosyayı Okumak

In [58]:
df_prep = spark.read \
.option('header', 'True') \
.option('inferSchema', 'True') \
.option('sep', ',') \
.csv('life_expectancy_data_preprocessed/part-00000-3f2838c0-3aac-4ab2-8c36-eba0a5dc113c-c000.csv')

In [59]:
df_prep.toPandas().head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263,62,0.01,71.279624,65,1154,19.1,83,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271,64,0.01,73.523582,62,492,18.6,86,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268,66,0.01,73.219243,64,430,18.1,89,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272,69,0.01,78.184215,67,2787,17.6,93,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275,71,0.01,7.097109,68,3013,17.2,97,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [60]:
df_prep.count()

1634

In [61]:
df_prep.columns

['Country',
 'Year',
 'Status',
 'Life expectancy',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles',
 'BMI',
 'under-five deaths',
 'Polio',
 'Total expenditure',
 'Diphtheria',
 'HIV/AIDS',
 'GDP',
 'Population',
 'thinness  1-19 years',
 'thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [62]:
nitelik_siralama = ['Country', 'Status', 'Year', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 
                   'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 
                   'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years', 'thinness 5-9 years', 'Income composition of resources', 
                   'Schooling', 'Life expectancy']
df_prep1 = df_prep.select(nitelik_siralama)
df_prep1.toPandas().head()

,Country,Status,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Afghanistan,Developing,2015,263,62,0.01,71.279624,65,1154,19.1,83,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,Developing,2014,271,64,0.01,73.523582,62,492,18.6,86,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,Developing,2013,268,66,0.01,73.219243,64,430,18.1,89,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,Developing,2012,272,69,0.01,78.184215,67,2787,17.6,93,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,Developing,2011,275,71,0.01,7.097109,68,3013,17.2,97,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [87]:
df_prep2 = df_prep1.select('Country', 'Status', 'Year', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 
                   'Hepatitis B', 'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria', 
                   'HIV/AIDS', 'GDP', 'Population', col('thinness  1-19 years').alias('thinness 1-19 years'), 'thinness 5-9 years', 'Income composition of resources', 
                   'Schooling', col('Life expectancy').alias('label'))
df_prep2.toPandas().head()

,Country,Status,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,label
0,Afghanistan,Developing,2015,263,62,0.01,71.279624,65,1154,19.1,83,6,8.16,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,Developing,2014,271,64,0.01,73.523582,62,492,18.6,86,58,8.18,62,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,Developing,2013,268,66,0.01,73.219243,64,430,18.1,89,62,8.13,64,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,Developing,2012,272,69,0.01,78.184215,67,2787,17.6,93,67,8.52,67,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,Developing,2011,275,71,0.01,7.097109,68,3013,17.2,97,68,7.87,68,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

## Veri Hazırlığı

### 1. StringIndexer

In [265]:
from pyspark.ml.feature import StringIndexer, OneHotEncoderEstimator, VectorAssembler, StandardScaler

In [266]:
country_indexer = StringIndexer() \
.setInputCol('Country') \
.setOutputCol('country_index') \
.setHandleInvalid('skip')

In [267]:
status_indexer = StringIndexer() \
.setInputCol('Status') \
.setOutputCol('status_index') \
.setHandleInvalid('skip')

### 2. OneHotEncoder

In [268]:
encoder = OneHotEncoderEstimator() \
.setInputCols(['status_index']) \
.setOutputCols(['status_encoded'])

### 3. VectorAssembler

In [269]:
numerik_nitelikler = ['Year', 'Adult Mortality', 'infant deaths', 'Alcohol', 'BMI', 'under-five deaths', 'Total expenditure', 
                      'HIV/AIDS', 'Income composition of resources', 'Schooling', 'status_encoded']

In [270]:
vector_assembler = VectorAssembler() \
.setInputCols(numerik_nitelikler) \
.setOutputCol('vectorized_features')

### 4. StandardScaler

In [271]:
scaler = StandardScaler() \
.setInputCol('vectorized_features') \
.setOutputCol('features')

### 5. Linear Regression

In [272]:
from pyspark.ml.regression import LinearRegression

In [273]:
lr_object = LinearRegression() \
.setFeaturesCol('features') \
.setLabelCol('label') \
.setPredictionCol('prediction')

### 6. Train-Test Split

In [274]:
train_df, test_df = df_prep2.randomSplit([0.8, 0.2], seed = 142)

### 7. Pipeline

In [275]:
from pyspark.ml import Pipeline

In [276]:
pipeline_nesnesi = Pipeline() \
.setStages([status_indexer, encoder, vector_assembler, scaler, lr_object])

### 8. Modeli Eğitme

In [277]:
pipeline_model = pipeline_nesnesi.fit(train_df)

In [278]:
pipeline_model.transform(test_df).select('label', 'prediction').toPandas().head(10)

   label  prediction
0   56.2   63.778354
1   57.3   61.329932
2   58.1   62.342523
3   58.6   62.718493
4   72.6   72.693153
5   76.2   72.851002
6   77.5   75.884176
7   72.9   71.791784
8   73.4   72.177740
9   75.1   74.946966

In [279]:
pipeline_model.stages

[StringIndexer_48efb6816c2e3c22f177,
 OneHotEncoderEstimator_4d03af93b82dbc0b4041,
 VectorAssembler_437bb92cfd138d18947e,
 StandardScaler_428a9945188fcd1bd56f,
 LinearRegression_4ef895dab0acce88f4a9]

In [280]:
lr_model = pipeline_model.stages[4]

In [281]:
lr_model.coefficients

DenseVector([-0.4398, -1.9719, 11.8906, -0.3578, 0.6084, -12.283, 0.3549, -2.9054, 2.1397, 2.5925, -0.5195])

In [282]:
lr_model.intercept

268.06790898907104

In [283]:
lr_model.summary.r2

0.8295668146984864

In [284]:
lr_model.summary.rootMeanSquaredError

3.6420756651918835

In [285]:
lr_model.summary.pValues

[3.8910216782594986e-05,
 0.0,
 2.220446049250313e-16,
 0.02028956869673526,
 1.6676036989071719e-06,
 0.0,
 0.0008786531331450576,
 0.0,
 0.0,
 0.0,
 0.00010412637896939358,
 2.5967555927763897e-07]

In [286]:
zipped = zip(lr_model.summary.pValues, numerik_nitelikler + ['Sabit'])

In [287]:
sorted_zip = sorted(zipped)

In [288]:
for i in sorted_zip:
    print(i)

(0.0, 'Adult Mortality')
(0.0, 'HIV/AIDS')
(0.0, 'Income composition of resources')
(0.0, 'Schooling')
(0.0, 'under-five deaths')
(2.220446049250313e-16, 'infant deaths')
(2.5967555927763897e-07, 'Sabit')
(1.6676036989071719e-06, 'BMI')
(3.8910216782594986e-05, 'Year')
(0.00010412637896939358, 'status_encoded')
(0.0008786531331450576, 'Total expenditure')
(0.02028956869673526, 'Alcohol')

In [289]:
lr_model.summary.tValues

[-4.128224688866889,
 -14.541065863154433,
 8.372011417659563,
 -2.323832397375948,
 4.812395244996926,
 -8.62846761804115,
 3.334564260313122,
 -23.445828063333717,
 12.173369488770529,
 13.716182461141205,
 -3.8929104213410826,
 5.178255357905251]